body {
    font-size: 20px;
    background-color: #ffff99;
}

h1 {
    color: darkred;
    padding: 5px;
    margin: 30px;
    text-align: center;
    background-color: #ffff55;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px darkred;
}

h2 {
    color: darkgreen;
    padding: 20px;
    margin: 30px;
    text-align: center;
    background-color: #ffff99;
    border: 3px solid darkgreen;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px black;
}

h3 {
    color: darkgreen;
    padding: 10px;
    margin: 15px;
    text-align: center;
    background-color: #ffff99;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px black;
}

p {
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

img {
    align-content: center;
    justify-content: center;
}

ul {
    margin: 10px;
    padding: 20px;
}

li {
    margin: 5px;
    padding: 5px;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.mainWindow {
    padding: 30px;
    margin: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    border: 4px solid darkgreen;
    border-radius: 10px;
    box-shadow: 8px 11px 25px 10px black;
    background-color: #ffffe5;
    text-indent: 30px;
}